//= require bootstrap_overrides
//= require font-awesome
//= require_self
//= require_tree .

html{
  height: 100%;
}

body{
  height: 100%;
}

#wrap{
  min-height: 100%;
  margin-top: -60px;
  padding-top: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

#container{

}

#footer{
  padding: 10px;
  text-align: center;
  color: white;
  border-top: 2px solid #cdbfe3 !important;
  height: 60px;
}

.pagination{
  margin: 0;
}

.navbar-brand,
.navbar-nav li a {
  font-size: 20px;
  line-height: 100px;
  height: 80px;
  padding-top: 0;
}

.navbar-brand h1{
  color: white;
}

.navbar-default, #footer{
  background-color: #6f5499;
  border: 0;
}

.navbar-default{
  font-family: 'Indie Flower' !important;
  border-bottom: 2px solid #cdbfe3;
}

.navbar-default .navbar-nav > li > a {
  background-color: #6f5499;
  color: #cdbfe3;
}

.navbar-default .navbar-nav > li{
  &, &.active{
    color: white;
    a, a:hover{
      background-color: #6f5499;
    }
  }
  &.active a{
    color: white;

    &:hover{
      color: white;
    }
  }

  &:hover a{
    color: white;
  }
}

.lilac-block{
  background-color: rgba(111, 84, 153, 0.9);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid #cdbfe3;
}

.sj-header{
  color: white;
  font-family: 'Indie Flower' !important;
}

.sj-alert{
  &.sj-alert-danger{
    background-color: rgba(255, 30, 35, 0.61);
  }
  &.sj-alert-success{
    background-color: rgba(0, 215, 24, 0.70);
  }
  background-color: rgba(111, 84, 153, 0.9);
  border-radius: 10px;
  padding: 20px;
  border: 2px solid white;
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: white;
  font-weight: bolder;
}

.sj-btn{
  border-radius: 10px;
  border: 2px solid #cdbfe3;
  padding: 10px 20px;
  background-color: transparent;
  color: #cdbfe3;
  font-weight: bolder;
  outline: none;
  &:hover{
    color: white;
    border-color: white;
  }
}

.sj-input{
  background-color: rgba(111, 84, 153, 0.3);
  outline: none;
  border-radius: 10px;
  border: 2px solid #cdbfe3;
  padding: 20px 20px;
  color: #cdbfe3;
  font-size: 17px;
  &:hover, &:focus{
    color: white;
    border-color: white;
  }
  &::-webkit-input-placeholder { /* WebKit browsers */
    color:    #cdbfe3;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #cdbfe3;
    opacity:  1;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #cdbfe3;
    opacity:  1;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #cdbfe3;
  }
}

.fa-sj{
  cursor: pointer;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 1000px;
  border: 2px solid #cdbfe3;
  padding: 10px 10px;
  color: #cdbfe3;
  font-size: 27px;
  margin-left: 10px;
  margin-right: 10px;
  &:hover, &:focus{
    color: white;
    border-color: white;
  }
}

.validation_errors{
  color: red;
  padding-left: 15px;
}